.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-width: 1px;
  border-style: solid;
  border-color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  margin: 0 0 32px;
  height: 60px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.5s linear;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
